@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-dark-green;
    @apply text-white;
    font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    @apply text-5xl;
    font-weight: bold;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

span, p, a {
    @apply text-medium;
}

.active {
  font-weight: bold;
}


* {
    box-sizing: border-box;
}

